<header class="navbar">

    <div class="logo">

        <mat-icon>
            shopping_cart
        </mat-icon>

        <span>VendasApp</span>

    </div>

    <nav>

        <a routerLink="/produtos" class="nav-link" routerLinkActive="ativo">
            Produtos
        </a>

        <a routerLink="/meus-pedidos" class="nav-link" routerLinkActive="ativo">
            Meus pedidos
        </a>

        <a routerLink="/enderecos" class="nav-link" routerLinkActive="ativo">
            Endereços
        </a>

        @if (authService.isAdmin()) {

        <a class="nav-link" routerLink="/admin" routerLinkActive="ativo">

            <mat-icon>
                admin_panel_settings
            </mat-icon>

            Administração

        </a>

        }

     </nav>

     


    <div class="acoes">
        

        <button class="carrinho" routerLink="/carrinho">

            <mat-icon>
                shopping_cart
            </mat-icon>

            <span class="badge">
                {{ carrinhoState.quantidadeItens() }}
            </span>

        </button>

        <button class="usuario" [matMenuTriggerFor]="menuUsuario">

            <mat-icon>
                account_circle
            </mat-icon>
        </button>
        <mat-menu #menuUsuario="matMenu">

            <button mat-menu-item routerLink="/meus-pedidos">

                <mat-icon>
                    receipt_long
                </mat-icon>

                <span>
                    Meus Pedidos
                </span>

            </button>

            <button mat-menu-item routerLink="/enderecos">

                <mat-icon>
                    location_on
                </mat-icon>

                <span>
                    Meus Endereços
                </span>

            </button>


            <button mat-menu-item routerLink="/carrinho">

                <mat-icon>
                    shopping_cart
                </mat-icon>

                <span>
                    Carrinho
                </span>

            </button>


            <mat-divider></mat-divider>

            <button mat-menu-item (click)="authService.logout()">

                <mat-icon>
                    logout
                </mat-icon>

                <span>
                    Sair
                </span>

            </button>

        </mat-menu>
    </div>

</header>