<header class="navbar">

    <div class="logo">

        <mat-icon>
            shopping_cart
        </mat-icon>

        <span>VendasApp</span>

    </div>

    <nav>

        <a routerLink="/produtos" class="nav-link" routerLinkActive="ativo">
            Produtos
        </a>

        <a routerLink="/meus-pedidos" class="nav-link" routerLinkActive="ativo">
            Meus pedidos
        </a>

        <a routerLink="/enderecos" class="nav-link" routerLinkActive="ativo">
            Endereços
        </a>

    </nav>

    <div class="acoes">

        <button class="carrinho" routerLink="/carrinho">

            <mat-icon>
                shopping_cart
            </mat-icon>

            <span class="badge">
                {{ carrinhoState.quantidadeItens() }}
            </span>

        </button>

        <button class="usuario">

            <mat-icon>
                account_circle
            </mat-icon>

        </button>

    </div>

</header>