<section class="produtos">

    <h1 class="titulo">
        Produtos
    </h1>

    <div class="busca">

        <mat-form-field appearance="outline">

            <mat-label>
                Buscar produto
            </mat-label>

            <input matInput [(ngModel)]="termoBusca" (ngModelChange)="buscarProdutos()">

            <mat-icon matSuffix>
                search
            </mat-icon>

        </mat-form-field>

    </div>

    @if (produtos().length === 0) {

    <div class="empty-state">

        <mat-icon>
            inventory_2
        </mat-icon>

        @if (termoBusca().trim()) {

        <h2>
            Nenhum produto encontrado
        </h2>

        <p>
            Nenhum resultado foi encontrado para
            "{{ termoBusca() }}".
        </p>

        } @else {

        <h2>
            Nenhum produto cadastrado
        </h2>

        <p>
            Não há produtos disponíveis no momento.
        </p>

        }

    </div>

    } @else {

    <section class="cards">

        <div class="grid">

            @for (produto of produtos(); track produto.id) {

            <app-produto-card [produto]="produto" (addCarrinho)="adicionarAoCarrinho($event)">
            </app-produto-card>

            }

        </div>

    </section>

    }
</section>

<div class="paginacao">

    <mat-paginator
        [length]="totalItens()"
        [pageSize]="tamanhoPagina"
        [pageSizeOptions]="[4, 8, 12, 16]"
        showFirstLastButtons
        (page)="mudarPagina($event)">
    </mat-paginator>

</div>