<button
    class="voltar"
    routerLink="/admin">

    <mat-icon>
        arrow_back
    </mat-icon>

    Voltar para administração

</button>

<div class="header">

    <h1>
        Gerenciar Produtos
    </h1>

    <a
        routerLink="/admin/produtos/novo"
        class="btn-novo">

        <mat-icon>
            add
        </mat-icon>

        Novo Produto

    </a>

</div>

<div class="busca">

    <mat-form-field appearance="outline">

        <mat-label>
            Buscar produto
        </mat-label>

        <input
            matInput
            [(ngModel)]="termoBusca"
            (ngModelChange)="buscarProdutos()">

        <mat-icon matSuffix>
            search
        </mat-icon>

    </mat-form-field>

</div>

@if (produtos().length === 0) {

<div class="empty-state">

    <mat-icon>
        inventory_2
    </mat-icon>

    @if (termoBusca().trim()) {

    <h2>
        Nenhum produto encontrado
    </h2>

    <p>
        Nenhum resultado foi encontrado para
        "{{ termoBusca() }}".
    </p>

    } @else {

    <h2>
        Nenhum produto cadastrado
    </h2>

    <p>
        Cadastre seu primeiro produto para começar as vendas.
    </p>

    }

</div>

} @else {

<div class="grid">

    @for (produto of produtos(); track produto.id) {

    <div class="card">

        <img
            [src]="produto.imagem"
            [alt]="produto.nome">

        <h3 class="nome">
            {{ produto.nome }}
        </h3>

        <p class="preco">
            R$ {{ produto.preco }}
        </p>

        <p class="estoque">
            Estoque:
            <span [style.color]="corEstoque(produto)">
                {{ produto.estoque }} unidades
            </span>
        </p>

        <div class="acoes">

            <a
                [routerLink]="[
                    '/admin/produtos/editar',
                    produto.id
                ]"
                class="btn-editar">

                <mat-icon>
                    edit
                </mat-icon>

                Editar

            </a>

            <button
                class="btn-excluir"
                (click)="excluirProduto(produto.id)">

                <mat-icon>
                    delete
                </mat-icon>

                Excluir

            </button>

        </div>

    </div>

    }

</div>

}


<div class="paginacao">

    <mat-paginator
        [length]="totalItens()"
        [pageSize]="tamanhoPagina"
        [pageSizeOptions]="[3, 4, 8, 12, 16]"
        showFirstLastButtons
        (page)="mudarPagina($event)">
    </mat-paginator>

</div>