:host {
    display: block;

    min-height: 88vh;

    padding: 32px;

    background: linear-gradient(
        135deg,
        #F3FFF0,
        #EAF8FF
    );
}

.container {
    display: flex;

    max-width: 700px;

    flex-direction: column;

    justify-content: center;

    align-items: flex-start;

    margin: 0 auto;
}

.card {
    width: 100%;

    max-width: 700px;

    background: white;

    padding: 32px;

    border-radius: 20px;

    box-shadow:
        0 4px 20px rgba(124, 115, 192, .08);
}

h1 {
    margin-top: 0;

    margin-bottom: 24px;

    color: var(--text-primary);

    font-size: 2rem;

    font-weight: 700;
}

form {
    display: flex;

    flex-direction: column;

    gap: 16px;
}

mat-form-field {
    width: 100%;
}

.voltar {
    display: inline-flex;

    align-items: center;

    gap: 8px;

    border: none;

    background: transparent;

    color: var(--primary);

    font-size: 1rem;

    font-weight: 600;

    cursor: pointer;

    text-decoration: none;

    margin-top: 0px !important;
}


button {
    margin-top: 12px;

    height: 48px;

    border-radius: 12px;

    font-weight: 600;
}